:root{
	/*Text sizing variables*/
	--text-xxs: 0.875rem; /* 14px */
	--text-xs: 1.0625rem; /* 17px */
	--text-s: 1.125rem; /* 18px */
	--text-md: 1.5rem; /* 24px */
	--text-lg: 3rem; /* 48px */
	--text-xlg: 4rem; /* 64px */

	/*Color variables*/
	--grey-ulight: #BDBDBD;
	--grey-light: #4F4F4F;
	--grey-dark: #333333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

.heading{
	width: 133px;
	font-family: Inconsolata;
	font-style: normal;
	font-weight: 900;
	font-size: var(--text-md);
	line-height: 25px;
	letter-spacing: -0.08em;
	text-transform: uppercase;
	margin: 20px auto auto 24px;
}

.main_content{
	border: 1px solid red;
}

