:root{
	/*Text sizing variables*/
	--text-xxs: 0.875rem; /* 14px */
	--text-xs: 1.0625rem; /* 17px */
	--text-s: 1.125rem; /* 18px */
	--text-md: 1.5rem; /* 24px */
	--text-lg: 3rem; /* 48px */
	--text-xlg: 4rem; /* 64px */

	/*Color variables*/
	--grey-ulight: #BDBDBD;
	--grey-light: #4F4F4F;
	--grey-dark: #333333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

.heading{
	width: 133px;
	color: var(--grey-dark);
	font-family: Inconsolata;
	font-style: normal;
	font-weight: 900;
	font-size: var(--text-md);
	line-height: 25px;
	letter-spacing: -0.08em;
	text-transform: uppercase;
	margin: 20px auto auto 24px;
}

img{
	display: block;
	width: 100%;
}

.img_card{
	display: block;
	padding: 64px 44.17px 60px 44px;
}

.main_content{
	padding: 0 1px 114px 24px;
}

.main_content_title{
	font-family: Space Mono;
	font-style: normal;
	font-weight: 700;
	font-size: var(--text-lg);
	line-height: 71px;
	letter-spacing: -0.035em;
	margin-top: 0;
	margin-bottom: 30px;
	padding: 0;
	width: 100%;
}

.main_content_description{
	font-family: Space Mono;
	font-style: normal;
	font-weight: 400;
	font-size: var(--text-s);
	line-height: 27px;
	letter-spacing: -0.035em;
	margin-top: 0;
	margin-bottom: 66px;
	margin-right: 23px;
	width: 100%;
}

.main_content_link{
	display: block;
	width: 130px;
	text-decoration: none;
	font-family: Space Mono;
	font-style: normal;
	font-weight: 700;
	font-size: var(--text-xxs);
	line-height: 21px;
	/* identical to box height */

	letter-spacing: -0.035em;
	text-transform: uppercase;
	color: #FFF;
	padding: 24px 43px 23px 44px;
	background-color: var(--grey-dark);
	box-sizing: content-box;
}

